<ion-view title="Bowland Milk" hide-back-button="true" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="bowlandMilk-form8" class="list">
      <label class="item item-select" id="bowlandMilk-select3">
        <span class="input-label">Quantity</span>
        <select>
          <option>1 litre</option>
          <option>2 litre</option>
          <option>3 litre</option>
        </select>
      </label>
      <div id="bowlandMilk-button-bar1" class="button-bar"></div>
      <ion-item class="item-thumbnail-left" id="bowlandMilk-list-item35" ui-sref="menu.placeOrder">
        <img src="img/gEpeitf1RVas5wfrAnVK_Tesco_Logo.jpg">
        <h2>Price: £1.40</h2>
        <p>Add to cart</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="bowlandMilk-list-item33">
        <img src="img/fLUcdVDvSuSPGzSUsYbU_downloadcopy.jpeg">
        <h2>Price: £1.48</h2>
        <p style="white-space:normal;">Add to cart</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="bowlandMilk-list-item34">
        <img src="img/laOqBLeQRvaTRDCggEFj_download.jpeg">
        <h2>Price: £1.59</h2>
        <p>Add to cart</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="bowlandMilk-list-item36">
        <img src="img/me2apVHgQMunmYhAxqwG_PlanetOrganicLarge.jpg">
        <h2>Price: £2.15</h2>
        <p>Add to cart</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>