<ion-view title="Cart" hide-back-button="true" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="cart-list8">
      <ion-item class="item-thumbnail-left item-icon-right" id="cart-list-item37">
        <img src="img/LPk9DVlhQei60KxPxUWA_PlanetOrganicLarge.jpg">
        <h2>Chicken - £5.79</h2>
        <p>Quantity - 1</p>
        <i class="icon ion-android-delete"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="cart-list-item38">
        <img src="img/MQWGV9pBSFiWsTHSYSyz_Tesco_Logo.jpg">
        <h2>Milk - £1.40</h2>
        <p>Quantity - 1 (2 litre)</p>
        <i class="icon ion-android-delete"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="cart-list-item39">
        <img src="img/lHV462IGTr6qGkndNWJg_download.jpeg">
        <h2>Bread - £1.50</h2>
        <p>Quantity - 1</p>
        <i class="icon ion-android-delete"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="cart-list-item40">
        <img src="img/UXKipppBSEyJ7a37CctB_downloadcopy.jpeg">
        <h2>Eggs - £2.25</h2>
        <p>Quantity - 1 (X12)</p>
        <i class="icon ion-android-delete"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.payment" id="cart-button13" class="button button-positive  button-block">Proceed to Check out</a>
  </ion-content>
</ion-view>