<ion-view title="Login" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(img/0wOqtXbzR6qpNYJBHdVf_Carpe.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
	  <div class="g-signin2" id="g-signin2"></div>
	  <div class="fb-signin" style="margin-top: 2px; text-align: center; width: 100%; background: linear-gradient(#4c69ba, #3b55a0);">
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="xlarge"></fb:login-button>
	  </div>
	  <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.placeOrder" id="login-button1" class="button button-balanced  button-block">Log in</a>
      <a ui-sref="menu.signup" id="login-button2" class="button button-stable  button-block">Sign Up</a>
    </form>
  </ion-content>
</ion-view>