<ion-view title="Milk Brands" hide-back-button="true" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="milkBrands-list6">
      <ion-item id="milkBrands-list-item23">No Brand Preference</ion-item>
      <ion-item id="milkBrands-list-item25" ui-sref="menu.bowlandMilk">Bowland Milk</ion-item>
      <ion-item id="milkBrands-list-item15">Calon Wen Organic Milk</ion-item>
      <ion-item id="milkBrands-list-item24">Daylesford Organic Milk</ion-item>
      <ion-item id="milkBrands-list-item26">Moo Milk</ion-item>
      <ion-item id="milkBrands-list-item27">Dairy Pride Milk</ion-item>
      <ion-item id="milkBrands-list-item28">Delamere goat &amp; cows Milk</ion-item>
      <ion-item id="milkBrands-list-item29">Watsons Milk</ion-item>
      <ion-item id="milkBrands-list-item30">Dale Farm Organic</ion-item>
    </ion-list>
  </ion-content>
</ion-view>