<ion-view title="Page" hide-back-button="true" id="page14">
  <ion-content padding="true" style="background: url(img/RuigRtleSiCPKiIemqt9_GroceriesWEB.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 80px;"></div>
    <div class="list card" id="page-card22">
      <div class="item item-body" id="page-list-item-container4">
        <div id="page-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:25px;">Payment was successful</p>
        </div>
        <div class="spacer" style="width: 268px; height: 30px;"></div>
        <div id="page-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:25px;">Thank You for using goFresh</p>
        </div>
        <div class="spacer" style="width: 268px; height: 29px;"></div>
        <div id="page-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Your items are on the way!</p>
        </div>
      </div>
    </div>
    <a ui-sref="menu.trackDelivery" id="page-button6" class="button button-light  button-block">Track delivery</a>
    <a ui-sref="menu.placeOrder" id="page-button16" class="button button-balanced  button-block">Home</a>
  </ion-content>
</ion-view>