<ion-view title="Payment" hide-back-button="true" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="payment-card21">
      <div class="item item-body" id="payment-list-item-container2">
        <div id="payment-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:30px;">Total cost: {{ calculateCartFormatted() }}</p>
        </div>
      </div>
    </div>
    <form id="payment-form9" class="list">
      <label class="item item-input" id="payment-input10">
        <span class="input-label">Card Number</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="payment-input11">
        <span class="input-label">Expiry Date</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="payment-input12">
        <span class="input-label">CVV Number</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="menu.page" id="payment-button14" class="button button-balanced  button-block">Process payment</a>
      <button id="payment-button15" class="button button-stable  button-block">Cancel payment</button>
    </form>
  </ion-content>
</ion-view>