<ion-view title="Place Order" hide-back-button="true" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-bag"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="placeOrder-form3" class="list">
      <label class="item item-input" id="placeOrder-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search grocery item">
      </label>
      <a ui-sref="menu.cart" id="placeOrder-button12" class="button button-balanced  button-block">Check Out</a>
    </form>
    <ion-list id="placeOrder-list4">
	  <ion-item ng-click="scanBarcode()">Scan barcode</ion-item>
	  <ion-item ng-repeat="product in products" ui-sref="menu.brandSelection({productName: product})">{{product}}</ion-item>
      <!--<ion-item id="placeOrder-list-item7" ui-sref="menu.milkBrands">Milk</ion-item>
      <ion-item id="placeOrder-list-item8">Bread</ion-item>
      <ion-item id="placeOrder-list-item9">Butter</ion-item>
      <ion-item id="placeOrder-list-item10">Salt</ion-item>
      <ion-item id="placeOrder-list-item11">Prawns</ion-item>
      <ion-item id="placeOrder-list-item12">Chicken</ion-item>
      <ion-item id="placeOrder-list-item13">Tomatoes</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>