<ion-view title="Previous Orders" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="previousOrders-list10">
      <label class="item item-select" id="previousOrders-select4">
        <span class="input-label">Date</span>
        <select>
          <option>20/1/2016</option>
        </select>
      </label>
      <ion-item class="item-thumbnail-left" id="previousOrders-list-item51">
        <img src="img/LPk9DVlhQei60KxPxUWA_PlanetOrganicLarge.jpg">
        <h2>Chicken - £5.79</h2>
        <p>Quantity - 1</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="previousOrders-list-item52">
        <img src="img/MQWGV9pBSFiWsTHSYSyz_Tesco_Logo.jpg">
        <h2>Milk - £1.40</h2>
        <p>Quantity - 1 (2 litre)</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="previousOrders-list-item53">
        <img src="img/lHV462IGTr6qGkndNWJg_download.jpeg">
        <h2>Bread - £1.50</h2>
        <p>Quantity - 1</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="previousOrders-list-item54">
        <img src="img/UXKipppBSEyJ7a37CctB_downloadcopy.jpeg">
        <h2>Eggs - £2.25</h2>
        <p>Quantity - 1 (X12)</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>