<ion-view title="Signup" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="signup2-form4" class="list">
      <div id="signup2-container2" data-tap-disabled="true" class="creator-container"></div>
      <label class="item item-input" id="signup2-input8">
        <span class="input-label">Address</span>
        <input type="text" placeholder="" ng-model="address">
      </label>
      <a ui-sref="menu.placeOrder" id="signup2-button5" class="button button-positive  button-block">Proceed</a>
    </form>
  </ion-content>
</ion-view>