<ion-view title="Track delivery" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="trackDelivery-list12">
      <ion-item class="item-icon-right" id="trackDelivery-list-item49">Order #7 - 21.11.2016
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
    </ion-list>
    <ion-list id="trackDelivery-list9">
      <ion-item class="item-icon-right" id="trackDelivery-list-item20">Order received
        <i class="icon ion-android-checkbox"></i>
      </ion-item>
      <ion-item id="trackDelivery-list-item21">Items prepared</ion-item>
      <ion-item id="trackDelivery-list-item22">On the way</ion-item>
      <ion-item id="trackDelivery-list-item31">Delivered</ion-item>
    </ion-list>
  </ion-content>
</ion-view>